$nav-content-max-width: 980px;
$nav-height: 92.5px;
$home-content-max-width: 818px;
$hero-nav-max-width: 1200px;
$hero-height: 600px;
$promo-tour-image-width: 236px;
$promo-tour-image-height: 304px;

$spacing-md: 20px;
$input-padding-vertical: 14px;
$input-padding-horizontal: 18px;
$input-border-width: 2px;
$border-radius-sm: 4px;
$border-radius-pill: 50px;

$button-bd-color: #79addc;
$button-hover-bg-color: #6393c4;
$footer-bg-color: #79addc;
$contact-form-bg-color: #f5f5f5;
$sale-banner-font-color: #ff7d38;
$site-black-text-color: #000000;
$site-white-text-color: #ffffff;
$hero-overlay-opacity: 0.4;
$promo-overlay-opacity: 0.8;
